.container {
    padding: 100px;
    background-color: white;
}

input[type=text],
textarea,
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    /* outline: none; */
}
input[type='radio'] {
    margin-right: 5px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerBtn {
    background-color: orange;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

.registerBtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.error-message {
    position: absolute;
    content: '';
    left: 210px;
    background-color: #c51244;
    color: white;
    padding: 5px;
    font-size: 12px;
    margin-top: -30px;
}

.error-message:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c51244;
    position: absolute;
    top: 26px;
}

input.error {
    border: 1px solid #c51244;
    background-color: rgba(197, 18, 68, 0.10);
    box-shadow: 2px 2px maroon;
}
